/* Global CSS */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html,
body {
  font-size: 16px;
  background: rgb(16, 16, 19);
  color: rgb(240, 240, 238);
  font-family: Rubik;
}
body {
  height: 100vh;
  padding: 0px 20rem;
}
@media (max-width: 1024px) {
  body {
    padding: 0px 5rem;
  }
}
@media (max-width: 500px) {
  body {
    padding: 0px 1.8rem;
  }
}

.layoutContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

::selection {
  color: rgb(255 255 255);
  background-color: rgb(220 20 60);
}

/* Header nav */
header {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 2rem 0px;
  padding-bottom: 3rem;
}
.header_link {
  cursor: pointer;
  text-decoration: none;
  color: rgb(240, 240, 238);
}
.header_link_text {
  font-size: 1.2rem;
  font-weight: 400;
}
.header_link_u {
  cursor: pointer;
  margin-right: 12px;
  font-style: italic;
  color: rgb(240, 240, 238);
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}
.nav__bio {
  display: flex;
  align-items: center;
}
.nav__bio__imgcont {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-right: 20px;
}
.nav__bio__img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
}
@media (max-width: 700px) {
  .nav {
    display: block;
  }
  .nav__bio {
    margin-bottom: 1rem;
  }
}

/* Home page section */
main {
  -webkit-box-flex: 1;
  flex-grow: 1;
}
.main__div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.main__text {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.75;
  font-family: Rubik;
  margin-bottom: 2rem;
}
.main__title {
  font-size: 2.074rem;
  margin: 1.44rem 0px;
  margin-bottom: 2rem;
}
.main_ul {
  margin-top: 16px;
  list-style-type: none;
  border-top: 1px solid rgb(240, 240, 238);
}
.main_li {
  padding: 0.5rem 0px;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid rgb(240, 240, 238);
}
.main_li_date {
  line-height: 1.5;
  font-weight: 600;
  margin: 8px 0px;
  font-style: italic;
  font-size: 0.8rem;
}
.main_li_title {
  font-size: 1.44rem;
  margin: 8px 0px;
}
.main_li_subheading {
  font-size: 1rem;
  line-height: 1.5;
  font-style: italic;
  margin: 8px 0px;
}
.main_li_link {
  font-family: Rubik;
  font-size: 1.2rem;
  font-style: italic;
  text-decoration: underline;
  color: rgb(240, 240, 238);
  cursor: pointer;
  margin-bottom: 8px;
  font-weight: 600;
}

/* footer */
.footer {
  padding-bottom: 60px;
}

/* Blog Post */
.post {
  -webkit-box-flex: 1;
  flex-grow: 1;
}
.post_link {
  font-family: Rubik;
  font-size: 1.2rem;
  font-style: italic;
  text-decoration: underline;
  color: rgb(240, 240, 238);
  cursor: pointer;
}
.post_title {
  font-size: 2.074rem;
  margin: 1.44rem 0px;
}
@media screen and (max-width: 430px) {
  .post__title {
    font-size: 35px;
  }
}
.post_date {
  margin: 1.44rem 0px;
  font-size: 1rem;
  line-height: 1.5;
}
.post_desc {
  margin: 1.44rem 0px;
  font-size: 1rem;
  line-height: 1.5;
}

/* Style for ReactMarkdown */
h1,
h2,
h3,
h4,
h5 {
  font-size: 1.44rem;
  margin: 1.2rem 0px;
}
p {
  margin: 1.44rem 0px;
  font-size: 1rem;
  line-height: 1.5;
}
ul {
  padding: 0;
  margin: 0;
  margin-bottom: 28px;
  list-style-position: outside;
  list-style-image: none;
}
.blockquote {
  padding: 0;
  margin: 0;
  margin-bottom: 28px;
  margin-left: 28px;
  margin-right: 28px;
  color: inherit;
  border-left-color: inherit;
  opacity: 0.8;
}
pre {
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.5px;
  text-shadow: 0 1px #222245;
  padding: 1.5em;
  margin: 0.5em 0;
  overflow: auto;
  background: #1e1e3f;
}
code {
  padding: 0 5px;
  border-radius: 5px;
  background-color: #1e1e3f;
  color: #fff;
}

img {
  max-width: 80vw;
}
